apiVersion: v1
kind: PersistentVolume
metadata:
  name: kafka-logs
spec:
  # IMPORTANT: This StorageClass must be defined in your cluster
  storageClassName: kafka-storage
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  # --- Local Path Configuration ---
  # --- Host Path Configuration ---
  hostPath:
    path: /tmp/kafka-logs
  # Removed nodeAffinity