apiVersion: v1
kind: Pod
metadata:
  name: spark-submit-client
  namespace: hdfs
  labels:
    app: spark-client
spec:
  containers:
  - name: submit-container
    image: spark-client:custom
    imagePullPolicy: IfNotPresent
    command: ["sleep", "infinity"]
    resources:
      requests:
        cpu: "500m"
        memory: "512Mi"
      limits:
        cpu: "2000m"
        memory: "2Gi"
    env:
    - name: HADOOP_CONF_DIR
      value: /etc/hadoop
    - name: SPARK_CONF_DIR
      value: /etc/spark/conf
    - name: HOME
      value: /tmp
    ports:
    - containerPort: 4040 # Spark UI port
    volumeMounts:
    - name: hadoop-config-volume
      mountPath: /etc/hadoop
    - name: spark-config-volume
      mountPath: /etc/spark/conf
    # Add mount for Application Code
    - name: spark-app-code
      mountPath: /app/spark-apps
  volumes:
  - name: hadoop-config-volume
    configMap:
      name: hdfs-config
  - name: spark-config-volume
    configMap:
      name: spark-config
  - name: spark-app-code
    configMap:
      name: spark-app-code