apiVersion: v1
kind: ConfigMap
metadata:
  name: spark-config
  namespace: hdfs
data:
  spark-defaults.conf:  |
    spark.master=yarn
    spark.hadoop.fs.defaultFS=hdfs://hdfs-namenode-0.hdfs-namenode.hdfs.svc.cluster.local:9000
    spark.jars.packages=org.apache.spark:spark-sql-kafka-0-10_2.12:3.5.0
    spark.executorEnv.PYSPARK_PYTHON=/usr/bin/python3
    spark.dynamicAllocation.enabled=true
    spark.dynamicAllocation.shuffleTracking.enabled=true
    spark.eventLog.enabled=true
    spark.eventLog.dir=hdfs://hdfs-namenode:9000/spark-history
    spark.shuffle.service.enabled=true
    spark.executor.instances=3
    spark.driver.bindAddress=0.0.0.0