apiVersion: apps/v1
kind: Deployment
metadata:
  name: hydraulic-consumer-analytics
  namespace: hydraulic
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hydraulic-consumer-analytics
  template:
    metadata:
      labels:
        app: hydraulic-consumer-analytics
    spec:
      containers:
        - name: consumer
          image: hydraulic-system:latest
          imagePullPolicy: IfNotPresent
          command: ["python", "src/consumer_analytics.py"]
          env:
            - name: KAFKA_BROKER
              value: "kafka-service.kafka.svc.cluster.local:9092"
            - name: PUSHGATEWAY_URL
              value: "pushgateway.monitoring.svc.cluster.local:9091"
          volumeMounts:
            - name: source-volume
              mountPath: /app/src/consumer_analytics.py
              subPath: consumer_analytics.py
      volumes:
        - name: source-volume
          configMap:
            name: hydraulic-source
